<ng-container *transloco="let t; read: 'pages.stacks'">
  <mat-toolbar class="toolbar flexcontainer">
    <div class="toolbar-block start">
      <button mat-button class="toolbar-menu-item" aria-label="Menu" (click)="onMenuItemClicked('menu')">
        <mat-icon svgIcon="menu"></mat-icon>
      </button>
      <span *ngIf="media != mediaType.SMALL" class="toolbar-title">{{ title }}</span>
    </div>
    <div class="flexbox"></div>
    <div class="toolbar-block end">
      <span class="cdk-visually-hidden" #translatedTooltipOpenMenu>{{  t("actions.open-menu") }}</span>
      <button mat-button
              class="toolbar-menu-item right"
              aria-label="Menu"
              [matTooltip]="translatedTooltipOpenMenu.innerHTML"
              [matMenuTriggerFor]="menu">
        <mat-icon svgIcon="more_vert"></mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="onMenuItemClicked('manual')">
          <mat-icon svgIcon="format_align_left"></mat-icon>
          {{ t("actions.manual") }}
        </button>
        <mat-divider></mat-divider>
        <button mat-menu-item (click)="onMenuItemClicked('open-source')">
          <mat-icon svgIcon="open_source_initiative"></mat-icon>
          {{ t("actions.open-source") }}
        </button>
        <button mat-menu-item (click)="onMenuItemClicked('about')">
          <mat-icon svgIcon="blank"></mat-icon>
          {{ t("actions.about") }}
        </button>
      </mat-menu>
    </div>
  </mat-toolbar>
</ng-container>
