@import '../../../../../../styles';

//
// Custom
//

.card-header-content {
  padding: 5px;
  width: 100%;
}

.word {
  font-family: 'Roboto Slab', serif;
  font-size: 2.0em !important;
  font-weight: 800 !important;
  margin-top: 20px !important;
  margin-bottom: 40px !important;
  text-align: center;
}

.help-icon {
  margin-left: 15px;
}

.taboo {
  font-family: 'Roboto Slab', serif;
  font-size: 1.4em;
  font-weight: 600;
  margin-top: 15px;
  text-align: center;
}

.difficulty {
  font-family: 'Roboto Slab', serif;
  font-size: 1.2em;
  font-weight: 600;
  margin: 40px;
}

.button-wrapper {
  height: 115px;
}

//
// Theme specific
//

.blue-theme {
  .container {
    min-height: 110px;

    background-image: url(../../../../../../assets/images/blue_front.png) !important;
    background-size: 100% 100% !important;
  }

  .difficultyColorEasy {
    color: white !important;
    background-color: mat-color($mat-green, 500) !important;
  }

  .difficultyColorMedium {
    color: white !important;
    background-color: mat-color($mat-amber, 400) !important;
  }

  .difficultyColorHard {
    color: white !important;
    background-color: mat-color($mat-red, 500) !important;
  }
}

.green-theme {
  .container {
    min-height: 110px;

    background-image: url(../../../../../../assets/images/green_front.png) !important;
    background-size: 100% 100% !important;
  }

  .difficultyColorEasy {
    color: white !important;
    background-color: mat-color($mat-green, 500) !important;
  }

  .difficultyColorMedium {
    color: white !important;
    background-color: mat-color($mat-amber, 400) !important;
  }

  .difficultyColorHard {
    color: white !important;
    background-color: mat-color($mat-red, 500) !important;
  }
}

.future-theme {
  .container {
    min-height: 110px;

    background-image: url(../../../../../../assets/images/future-banner.png) !important;
    background-repeat: no-repeat !important;
    background-size: 100% 20px !important;
  }

  .word {
    font-family: 'Montserrat', sans-serif !important;
  }

  .taboo {
    font-family: 'Montserrat', sans-serif !important;
  }

  .difficultyColorEasy {
    color: mat-contrast($future-primary, 500) !important;
    background-color: mat-color($future-primary, 500) !important;
  }

  .difficultyColorMedium {
    color: mat-contrast($future-semi-accent, 500) !important;
    background-color: mat-color($future-semi-accent, 500) !important;
  }

  .difficultyColorHard {
    color: mat-contrast($future-accent, 700) !important;
    background-color: mat-color($future-accent, 700) !important;
  }
}

//
// Material
//

mat-card {
  margin: 15px auto;

  @media #{$breakpoint-small} {
    width: 100%;
    max-width: 400px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box; /* Opera/IE 8+ */
  }
  @media #{$breakpoint-medium} {
    width: 400px;
  }
  @media #{$breakpoint-large} {
    width: 400px;
  }

  &:hover .hidden {
    display: inline-block;
  }
}

mat-card-header {
  margin-left: 0;
  cursor: pointer;
}

mat-card-content {
  margin-bottom: 0;
}

mat-card-actions {
  padding: 0;
  margin: 0;
}

.mat-card-actions .mat-button:first-child, .mat-card-actions .mat-raised-button:first-child {
  margin-left: 0;
  margin-right: 0;
  padding-left: 15px;
  padding-right: 15px;
}
