@import '../../../../../../flex';
@import '../../../../../../sizes';
@import '../../../../../../theme';

//
// Custom
//

.container {
  min-height: 110px;

  background-image: url(../../../../../../assets/images/front.png);
  background-size: 100% 100%;
}

.card-header-content {
  padding: 5px;
  width: 100%;
}

.word {
  font-family: 'Roboto Slab', serif;
  font-size: 2.0em;
  font-weight: 800;
  margin-top: 20px !important;
  margin-bottom: 40px !important;
  text-align: center;
}

.taboo {
  font-family: 'Roboto Slab', serif;
  font-size: 1.4em;
  font-weight: 600;
  margin-top: 15px;
  text-align: center;
}

.difficulty {
  font-family: 'Roboto Slab', serif;
  font-size: 1.2em;
  font-weight: 600;
  margin: 40px;
}

//
// Material
//

mat-card {
  margin: 15px auto;

  @media #{$breakpoint-small} {
    width: 100%;
    max-width: 400px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box; /* Opera/IE 8+ */
  }
  @media #{$breakpoint-medium} {
    width: 400px;
  }
  @media #{$breakpoint-large} {
    width: 400px;
  }

  &:hover .hidden {
    display: inline-block;
  }
}

mat-card-header {
  margin-left: 0;
  cursor: pointer;
}

mat-card-content {
  margin-bottom: 0;
}

mat-card-actions {
  padding: 0;
  margin: 0;
}

.mat-card-actions .mat-button:first-child, .mat-card-actions .mat-raised-button:first-child {
  margin-left: 0;
  margin-right: 0;
  padding-left: 15px;
  padding-right: 15px;
}
