<div *ngIf="card != null" [className]="cardClassName">
  <mat-card class="container flexcontainer-vertical">
    <div *ngIf="devMode &&  card.id != null" class="debug">id {{ card.id.slice(0, 19)  }}...</div>
    <div *ngIf="devMode" class="debug">index {{ card.index }}</div>
    <div *ngIf="devMode" class="debug">difficulty {{ card.difficulty }}</div>

    <mat-card-title class="word">
      <span matTooltip="Erkläre diesen Begriff"
            matTooltipPosition="above"
            matTooltipShowDelay="250">{{ card.word }}</span>
      <mat-icon svgIcon="help_outline"
                matTooltip="Hinweis anzeigen"
                matTooltipPosition="above"
                matTooltipShowDelay="250" class="help-icon" (click)="onHelpClicked()"></mat-icon>
    </mat-card-title>
    <div matTooltip="Verwende diese Wörter nicht"
         matTooltipPosition="above"
         matTooltipShowDelay="250">
      <div *ngFor="let taboo of card.taboos" class="taboo">
        {{ taboo }}
      </div>
    </div>
    <div class="flexbox"></div>
    <mat-card-footer class="flexcontainer">
      <div class="flexbox"></div>
      <div class="button-wrapper">
        <button *ngIf="!difficultyDisplayLongText" mat-mini-fab [matTooltip]="difficultyCombinedText" class="difficulty"
                [ngClass]="difficultyClass"
                (click)="onDifficultyClicked()">
          {{ difficultyText }}
        </button>
        <button *ngIf="difficultyDisplayLongText" mat-raised-button [matTooltip]="difficultyCombinedText" class="difficulty"
                [ngClass]="difficultyClass"
                (click)="onDifficultyClicked()">
          {{ difficultyLongText }}
        </button>
      </div>
    </mat-card-footer>
  </mat-card>
</div>
