<div class="horizontal-center">
  <div class="description-text double-size-text">
    Welches Team hat richtig geantwortet?
  </div>
  <div *ngIf="stack != null">
    <div *ngFor="let team of stack.game.teams" class="team-button-wrapper">
      <button mat-flat-button color="primary" class="button"
              (click)="onSuccessfulTeamSelected(team.index)">
        <div class="description-text double-size-text">
          TEAM {{ team.index + 1}}
        </div>
      </button>
    </div>
    <div>
      <button mat-button color="primary" class="button"
              (click)="onSuccessfulTeamSelected(null)">
        <div class="description-text double-size-text">
          NIEMAND
        </div>
      </button>
    </div>
  </div>
</div>
