<ng-container *transloco="let t; read: 'pages.cards'">
  <div class="horizontal-center">
    <div class="description-text double-size-text">
      {{ t("terms.which-team-answered-correctly") | capitalizeSentences }}
    </div>
    <div *ngIf="stack != null">
      <div *ngFor="let team of stack.game.teams" class="team-button-wrapper">
        <button mat-flat-button color="primary" class="button"
                (click)="onSuccessfulTeamSelected(team.index)">
          <div class="description-text double-size-text">
          <span class="uppercase">{{ t("terms.team", {team: team.index + 1}) }}</span>
          </div>
        </button>
      </div>
      <div>
        <button mat-button color="primary" class="button"
                (click)="onSuccessfulTeamSelected(null)">
          <div class="description-text double-size-text">
          <span class="uppercase">
            {{ t("terms.no-one") }}
          </span>
          </div>
        </button>
      </div>
    </div>
  </div>
</ng-container>
