@use '~@angular/material' as mat;
@import '../../../../../../styles';

//
// Custom
//

.main-text {
  font-size: 4em;
  margin-top: 25px;
  line-height: 100%;
  white-space: pre-wrap !important;
}

.description-text {
  margin-top: 10px;
  margin-bottom: 5px;
  white-space: pre-wrap !important;
}

.double-size-text {
  font-size: 2em;
}

//
// Theme specific
//

.blue-theme {
  .team-name {
    color: mat.get-color-from-palette($blue-accent, 500) !important;
    font-weight: 700;
  }
}

.green-theme {
  .team-name {
    color: mat.get-color-from-palette($green-accent, 500) !important;
    font-weight: 700;
  }
}

.future-theme {
  .team-name {
    color: mat.get-color-from-palette($future-accent, 500) !important;
    font-weight: 700;
  }
}
