@import '../../../../../../styles';

//
// Custom
//

.main-text {
  font-size: 4em;
  margin-top: 25px;
  line-height: 100%;
  white-space: pre-wrap !important;
}

.description-text {
  margin-top: 10px;
  margin-bottom: 5px;
  white-space: pre-wrap !important;
}

.double-size-text {
  font-size: 2em;
}

.horizontal-center {
  margin: 15px auto;
  text-align: center;

  width: 100%;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */

  &:hover .hidden {
    display: inline-block;
  }
}
