@import '../../../../theme';

.blue-theme {
  a, a:visited {
    color: mat-color($blue-primary, 500) !important;
    text-decoration: none !important;
  }
}

.green-theme {
  a, a:visited {
    color: mat-color($green-primary, 500) !important;
    text-decoration: none !important;
  }
}

.future-theme {
  a, a:visited {
    color: mat-color($future-primary, 500) !important;
    text-decoration: none !important;
  }
}

.flexcontainer {
  display: flex;
}

.flexbox {
  flex-grow: 1;
}

.highlight {
  font-style: italic;
}
