@use '../../../../../node_modules/@angular/material' as mat;
@import '../../../../theme';

.blue-theme {
  a, a:visited {
    color: mat.get-color-from-palette($blue-primary, 500) !important;
    text-decoration: none !important;
  }
}

.green-theme {
  a, a:visited {
    color: mat.get-color-from-palette($green-primary, 500) !important;
    text-decoration: none !important;
  }
}

.future-theme {
  a, a:visited {
    color: mat.get-color-from-palette($future-primary, 500) !important;
    text-decoration: none !important;
  }
}

.participant {
  margin-left: 5px;
}

.flexcontainer {
  display: flex;
}

.flexbox {
  flex-grow: 1;
}

.highlight {
  font-style: italic;
}
