@import '../../../../../../styles';

//
// Custom
//

.stack-title {
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  font-size: 1.8em;
  width: 255px;
}

hr {
  clear: left;
  border: solid #444 1px;
}

.separator {
  margin: 0 10px;
}

//
// Material
//

mat-card {
  float: left;
  text-align: start;

  @media #{$breakpoint-small} {
    width: 100%;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box; /* Opera/IE 8+ */
  }
  @media #{$breakpoint-medium} {
    width: 300px;
  }
  @media #{$breakpoint-large} {
    width: 300px;
  }
}

mat-card {
  &:hover .hidden {
    display: inline-block;
  }
}

mat-card-header {
  margin-left: 0;
  cursor: pointer;
}

mat-card-content {
  margin-bottom: 0;
}

mat-card-actions {
  padding: 0;
  margin: 0;
}

.card-header-content {
  padding: 5px;
  width: 100%;
}

.mat-card-actions .mat-button:first-child, .mat-card-actions .mat-raised-button:first-child {
  margin-left: 0;
  margin-right: 0;
  padding-left: 15px;
  padding-right: 15px;
}
