<div [class]="themeClass">
  <mat-card>
    <div *ngIf="devMode" class="debug">id {{ stack.id.slice(0, 19) }}...</div>

    <div class="flexcontainer">
      <mat-card-header (click)="onStackClicked()">
        <mat-card-title class="stack-title" [style.color]="titleColor">{{ stack.title }}</mat-card-title>
        <mat-card-subtitle>
          <span i18n="pluralCards|Plural score@@pluralCards">{cardsCount, plural, zero {no cards} one {{{cardsCount}} card} other {{{cardsCount}} cards}}</span>
          <span *ngIf="existingGame" class="separator">|</span>
          <span *ngIf="existingGame" i18n="labelOngoingGame|Label that a game is ongoing@@labelOngoingGame">
            ongoing game
          </span>
        </mat-card-subtitle>
      </mat-card-header>
      <div class="flexbox"></div>
    </div>

    <mat-card-content class="card-main-content">
    </mat-card-content>
  </mat-card>
</div>

