@import '../../../../theme';
@import '../../../../sizes';

.flexcontainer {
  display: flex;
}

.flexbox {
  flex-grow: 1;
}

.full-width {
  width: 100%;
}

.checkbox {
  @media #{$breakpoint-small} {
    max-width: 65%;
  }
  @media #{$breakpoint-medium} {
    max-width: 65%;
  }
}

//
// Material
//

.checkbox-label {
  white-space: normal !important;
}
