@import '../../../../../styles';
@import '../../../../../flex';
@import '../../../../../sizes';

//

.card-main-content {
  @media #{$breakpoint-small} {
    // padding-top: 88px;
    margin-left: 10px;
    margin-right: 10px;
  }
  @media #{$breakpoint-medium} {
    // padding-top: 88px;
    margin-left: 20px;
    margin-right: 20px;
  }
  @media #{$breakpoint-large} {
    // padding-top: 88px;
    margin-left: 40px;
    margin-right: 40px;
  }
}

.animate-translation-100 {
  -webkit-transition: .100s ease-out;
  -moz-transition: .100s ease-out;
  -o-transition: .100s ease-out;
  transition: .100s ease-out;
}
