@import '../../../../../styles';

//
// Custom
//

.debug {
  color: mat-color($mat-grey, 400);
}

.main-content {
  width: 100%;

  @media #{$breakpoint-small} {
    padding-top: 56px;
    // margin-left: 5px;
    // margin-right: 5px;
  }
  @media #{$breakpoint-medium} {
    padding-top: 88px;
    margin-left: 20px;
    margin-right: 20px;
  }
  @media #{$breakpoint-large} {
    padding-top: 88px;
    margin-left: 40px;
    margin-right: 40px;
  }
}

//

.block {
  display: block;
}

.main-text {
  font-size: 4em;
  margin-top: 25px;
  line-height: 100%;
  white-space: pre-wrap !important;
}

.description-text {
  margin-top: 10px;
  margin-bottom: 5px;
  white-space: pre-wrap !important;
}

.double-size-text {
  font-size: 1.5em;
}

.horizontal-center {
  margin: 15px auto;
  text-align: center;

  width: 100%;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */

  &:hover .hidden {
    display: inline-block;
  }
}

.button {
  @media #{$breakpoint-small} {
    margin: 5px;
  }
  @media #{$breakpoint-medium} {
    margin: 10px;
  }
  @media #{$breakpoint-large} {
    margin: 20px;
  }

  white-space: pre-wrap !important;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.full-height {
  position: relative;
  margin: 0 auto;
  min-height: 100%;
}

.full-width {
  padding: 25px;
  width: 100%;
}

.animate-translation-100 {
  -webkit-transition: .100s ease-out;
  -moz-transition: .100s ease-out;
  -o-transition: .100s ease-out;
  transition: .100s ease-out;
}

.fixed {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 999;
}

.background {
  z-index: -1;
}
