@use '~@angular/material' as mat;
@import '../../../../../styles';
@import '../../../../../theme';

//
// Custom
//

.debug {
  color: mat.get-color-from-palette(mat.$grey-palette, 400);
}

.main-content {
  width: 100%;

  @media #{$breakpoint-small} {
    padding-top: 56px;
  }
  @media #{$breakpoint-medium} {
    padding-top: 88px;
    margin-left: 20px;
    margin-right: 20px;
  }
  @media #{$breakpoint-large} {
    padding-top: 88px;
    margin-left: 40px;
    margin-right: 40px;
  }
}

//

.block {
  display: block;
}

.main-text {
  font-size: 4em;
  margin-top: 25px;
  line-height: 100%;
  white-space: pre-wrap !important;
}

.description-text {
  margin-top: 10px;
  margin-bottom: 5px;
  white-space: pre-wrap !important;
}

.double-size-text {
  font-size: 1.5em;
}

.margin {
  @media #{$breakpoint-small} {
    margin-left: 10px;
    margin-right: 10px;
  }
}

.button {
  @media #{$breakpoint-small} {
    margin: 5px;
  }
  @media #{$breakpoint-medium} {
    margin: 10px;
  }
  @media #{$breakpoint-large} {
    margin: 20px;
  }

  white-space: pre-wrap !important;
}

.full-height {
  position: relative;
  margin: 0 auto;
  min-height: 100%;
}

.full-width {
  padding: 25px;
  width: 100%;
}

.animate-translation-100 {
  -webkit-transition: .100s ease-out;
  -moz-transition: .100s ease-out;
  -o-transition: .100s ease-out;
  transition: .100s ease-out;
}

.fixed {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 999;
}

.card-width {
  @media #{$breakpoint-small} {
    width: 100%;
    max-width: 400px;
  }
  @media #{$breakpoint-medium} {
    width: 400px;
  }
  @media #{$breakpoint-large} {
    width: 400px;
  }
}

.card-background-wrapper {
  position: absolute;
  padding-right: 10px;
  padding-left: 10px;
}

.card-background {
  padding: 10px;
  min-height: 455px;
  margin: 5px auto;

  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 1px 3px 0 rgba(0, 0, 0, .12);

  @media #{$breakpoint-small} {
    width: 100%;
    max-width: 380px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  @media #{$breakpoint-medium} {
    width: 380px;
  }
  @media #{$breakpoint-large} {
    width: 380px;
  }

  &:hover .hidden {
    display: inline-block;
  }
}

.green-theme {
  .card-background {
    border-radius: 40px !important;
    background-image: url(../../../../../assets/images/green_back.webp) !important;
    background-size: 100% 100%;
  }
}

.blue-theme {
  .card-background {
    border-radius: 40px !important;
    background-image: url(../../../../../assets/images/blue_back.webp) !important;
    background-size: 100% 100%;
  }
}

.future-theme {
  .card-background {
    border: #FFF solid 10px;
    border-radius: 10px !important;
    background: #d6e8f2;
    background-image: url(../../../../../assets/logos-s4f/logo-transparent144x144.png) !important;
    background-repeat: no-repeat !important;
    background-size: 144px 144px;

    background-position: center;
  }
}

.card-background-margin {
  margin: -12px 0 !important;
}
