<app-cards-toolbar
  class="fixed"
  [title]="title"
  [titleColor]="titleColor"
  [media]="media"
  [gameMode]="gameMode"
  [useTimeLimit]="(game != null) ? game.useTimeLimit : false"
  [startTime]="startTime"
  [cardCount]="cardsInStack"
  (menuItemEventEmitter)="onMenuItemClicked($event)"
  (timerOverEmitter)="onTimerOver()"></app-cards-toolbar>

<!-- Debugging -->
<div *ngIf="devMode" class="debug main-content">
  <div *ngIf="game != null">
    <div *ngIf="game.turn != null">
      <div>game turn state {{ json.stringify(game.turn.state) }}</div>
      <div>game turn team {{ json.stringify(game.turn.teamID) }}</div>
      <div *ngFor="let t of game.teams">team {{ t.index }} > {{ t.score }}</div>
    </div>
  </div>
  <br/>
  <div *ngFor="let c of cards">
    {{ c.word }} (index {{ c.index }}) difficulty {{ c.difficulty }}
  </div>
</div>

<div class="main-content vertical-center center">
  <!-- Team -->
  <div *ngIf="displayAspect === displayAspectType.DISPLAY_TEAM_TAKING_TURN && stack.game != null">
    <button mat-button class="button full-width" (click)="onDisplayTeamClicked()">
      <span class="block main-text">Team {{ stack.game.turn.teamID + 1 }} ist am Zug</span>
      <span class="block explanation-text">
          Tippe auf den Bildschirm um weiterzumachen
        </span>
    </button>
  </div>
  <!-- Difficulty -->
  <div *ngIf="displayAspect === displayAspectType.DISPLAY_DIFFICULTY_SELECTION && stack.game != null">
    <div class="explanation-text">
      Wähle einen Schwierigkeitsgrad aus
    </div>
    <div class="buttons">
      <div>
        <button mat-flat-button class="button difficulty-easy"
                [disabled]="cardsEasy.length < 1"
                (click)="onDifficultySelected(1)">
          <div class="explanation-text">
            EINFACH ({{ cardsEasy.length }})
          </div>
        </button>
      </div>
      <div>
        <button mat-flat-button class="button difficulty-medium"
                [disabled]="cardsMedium.length < 1"
                (click)="onDifficultySelected(2)">
          <div class="explanation-text">
            MITTEL ({{ cardsMedium.length }})
          </div>
        </button>
      </div>
      <div>
        <button mat-flat-button class="button difficulty-hard"
                [disabled]="cardsHard.length < 1"
                (click)="onDifficultySelected(3)">
          <div class="explanation-text">
            SCHWER ({{ cardsHard.length }})
          </div>
        </button>
      </div>
    </div>
  </div>
  <!-- Cards -->
  <div *ngIf="displayAspect === displayAspectType.DISPLAY_CARDS && stack.game != null">
    <div swing-stack #swingStack
         [stackConfig]="stackConfig"
         (throwout)="onCardThrownOut($event)"
         (throwoutend)="onCardThrownOutEnd($event)">
      <div swing-card class="animate-translation-100">
        <app-card-fragment [card]="cards[0]" [media]="media">
        </app-card-fragment>
      </div>
    </div>
    <div *ngIf="gameMode === gameModeType.MULTI_PLAYER && stack.game != null"
         class="explanation-text">
      Wisch die Karte zur Seite sobald jemand den Begriff erraten hat
    </div>
  </div>
  <!-- Turn evaluation -->
  <div *ngIf="displayAspect === displayAspectType.DISPLAY_TURN_EVALUATION && stack.game != null">
    <div class="explanation-text">
      Welches Team hat richtig geantwortet?
    </div>
    <div class="buttons">
      <div *ngFor="let team of stack.game.teams">
        <button mat-flat-button color="primary" class="button"
                (click)="onSuccessfulTeamSelected(team.index)">
          <div class="explanation-text">
            TEAM {{ team.index + 1}}
          </div>
        </button>
      </div>
      <div>
        <button mat-flat-button color="primary" class="button"
                (click)="onSuccessfulTeamSelected(null)">
          <div class="explanation-text">
            NIEMAND
          </div>
        </button>
      </div>
    </div>
  </div>
  <!-- Score overview -->
  <div *ngIf="displayAspect === displayAspectType.DISPLAY_SCORE_OVERVIEW && stack.game != null">
    <button mat-button class="full-width" (click)="onDisplayScoreOverviewClicked()">
      <div *ngFor="let team of stack.game.teams" class="explanation-text">
        <span> TEAM {{ team.index + 1}} - {{ team.score }}</span>
        <span *ngIf="team.score !== 1">Punkte</span>
        <span *ngIf="team.score === 1">Punkt</span>
      </div>
      <div class="explanation-text">
        Tippe auf den Bildschirm um weiterzumachen
      </div>
    </button>
  </div>
  <!-- Game evaluation -->
  <div *ngIf="displayAspect === displayAspectType.DISPLAY_GAME_EVALUATION && stack.game != null">
    <div *ngIf="winningTeams.length > 1" class="main-text">
      <span *ngFor="let team of winningTeams">
        Team {{ team.index + 1 }}
      </span>
      haben gewonnen
    </div>
    <div *ngIf="winningTeams.length === 1" class="main-text">
      Team {{ winningTeams[0].index + 1 }} hat gewonnen
    </div>
    <div *ngFor="let team of stack.game.teams" class="explanation-text">
      TEAM {{ team.index + 1}} - {{ team.score }}
      <span *ngIf="team.score !== 1">Punkte</span>
      <span *ngIf="team.score === 1">Punkt</span>
    </div>
    <button mat-flat-button color="primary" class="button" (click)="onMenuItemClicked('back')">
      <div class="explanation-text">
        ZURÜCK
      </div>
    </button>
  </div>
</div>
