<app-cards-toolbar
  class="fixed"
  [title]="title"
  [titleColor]="titleColor"
  [media]="media"
  [gameMode]="gameMode"
  [cardCount]="cards.length"
  (menuItemEventEmitter)="onMenuItemClicked($event)"></app-cards-toolbar>

<div class="main-content">
  <!-- Cards -->
  <div *ngIf="displayAspect === displayAspectType.DISPLAY_CARDS">
    <div swing-stack #swingStack
         [stackConfig]="stackConfig"
         (throwout)="onCardThrownOut($event)"
         (throwoutend)="onCardThrownOutEnd($event)">
      <div swing-card class="animate-translation-100">
        <app-card-fragment [card]="cards[0]" [media]="media">
        </app-card-fragment>
      </div>
    </div>
  </div>

  <!-- Else -->
  <div *ngIf="displayAspect == null">
    Nothing to see here
  </div>
</div>
