<app-games-toolbar
  class="fixed"
  [title]="title"
  [media]="media"
  (menuItemEventEmitter)="onMenuItemClicked($event)"></app-games-toolbar>

<div class="main-content">
  <div class="horizontal-center vertical-center">
    <div>
      <button mat-flat-button color="primary" class="mode-button"
              [disabled]="stack == null"
              (click)="onSinglePlayerClicked()">
        <span class="button-text">ALLEIN SPIELEN</span>
      </button>
    </div>
    <div>
      <button mat-flat-button color="primary" class="mode-button"
              [disabled]="stack == null"
              (click)="onMultiPlayerClicked()">
        <span class="button-text">GEGEN ANDERE SPIELEN</span>
      </button>
    </div>
  </div>
</div>
