@import '../../../../../styles';
@import '../../../../../theme';

//
// Custom
//

.main-content {
  @media #{$breakpoint-small} {
    padding-top: 56px;
    // margin-left: 10px;
    // margin-right: 10px;
  }
  @media #{$breakpoint-medium} {
    padding-top: 88px;
    margin-left: 20px;
    margin-right: 20px;
  }
  @media #{$breakpoint-large} {
    padding-top: 88px;
    margin-left: 40px;
    margin-right: 40px;
  }
}

.horizontal-center {
  margin: 15px auto;
  text-align: center;

  width: 100%;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */

  &:hover .hidden {
    display: inline-block;
  }
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.button {
  @media #{$breakpoint-small} {
    margin: 5px !important;
  }
  @media #{$breakpoint-medium} {
    margin: 10px !important;
  }
  @media #{$breakpoint-large} {
    margin: 20px !important;
  }

  white-space: pre-wrap !important;
}

.button-text {
  white-space: pre-wrap !important;
}

.blue-theme {
  .single-player {
    color: white !important;
    background-color: mat-color($blue-primary, 400) !important;
  }

  .multi-player {
    color: white !important;
    background-color: mat-color($blue-primary, 600) !important;
  }
}

.green-theme {
  .single-player {
    color: white !important;
    background-color: mat-color($green-primary, 400) !important;
  }

  .multi-player {
    color: white !important;
    background-color: mat-color($green-primary, 600) !important;
  }
}

.future-theme {
  .single-player {
    color: white !important;
    background-color: mat-color($future-primary, 400) !important;
  }

  .multi-player {
    color: white !important;
    background-color: mat-color($future-primary, 600) !important;
  }
}

.mode-button {
  font-size: 2em !important;
  padding: 20px !important;
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}

.fixed {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 999;
}
