<app-games-toolbar
  class="fixed"
  [title]="title"
  [titleColor]="titleColor"
  [media]="media"
  (menuItemEventEmitter)="onMenuItemClicked($event)"></app-games-toolbar>

<div class="main-content">
  <div class="buttons vertical-center">
    <div>
      <button mat-flat-button color="primary" class="mode-button"
              [disabled]="stack == null"
              (click)="onSinglePlayerClicked()">
        ALLEIN SPIELEN
      </button>
    </div>
    <div>
      <button mat-flat-button color="primary" class="mode-button"
              [disabled]="stack == null"
              (click)="onMultiPlayerClicked()">
        GEGEN ANDERE SPIELEN
      </button>
    </div>
    <div [@teamCountSelectionAnimation]="teamCountSelectionState">
      <div (click)="onTimeLimitToggled()" class="time-limit-button">
        <button *ngIf="!useTimeLimit" mat-button color="primary">
          <mat-icon svgIcon="alarm_off" class="button-icon"></mat-icon>
          ohne Zeitlimit
        </button>
        <button *ngIf="useTimeLimit" mat-flat-button color="primary">
          <mat-icon svgIcon="alarm_on" class="button-icon"></mat-icon>
          mit Zeitlimit
        </button>
      </div>
      <div class="description-text">Anzahl der Teams</div>
      <span *ngFor="let item of arrayOne(4); let i = index;">
        <button *ngIf="teamCount !== i + 2" mat-button color="primary" class="team-button"
                (click)="onTeamCountSelected(i+2)">
          {{ i + 2 }}
        </button>
        <button *ngIf="teamCount === i + 2" mat-flat-button color="primary" class="team-button"
                (click)="onTeamCountSelected(i+2)">
          {{ i + 2 }}
        </button>
      </span>
      <div class="description-text">Schwierigkeit</div>
      <div>
        <button *ngIf="difficultyEasy" mat-flat-button class="button difficulty-easy"
                (click)="onDifficultyEasyToggled()">
          <div class="description-text">EINFACH</div>
        </button>
        <button *ngIf="!difficultyEasy" mat-button class="button"
                (click)="onDifficultyEasyToggled()">
          <div class="description-text">EINFACH</div>
        </button>
        <button *ngIf="difficultyMedium" mat-flat-button class="button difficulty-medium"
                (click)="onDifficultyMediumToggled()">
          <div class="description-text">MITTEL</div>
        </button>
        <button *ngIf="!difficultyMedium" mat-button class="button"
                (click)="onDifficultyMediumToggled()">
          <div class="description-text">MITTEL</div>
        </button>
        <button *ngIf="difficultyHard" mat-flat-button class="button difficulty-hard"
                (click)="onDifficultyHardToggled()">
          <div class="description-text">SCHWER</div>
        </button>
        <button *ngIf="!difficultyHard" mat-button class="button"
                (click)="onDifficultyHardToggled()">
          <div class="description-text">SCHWER</div>
        </button>
      </div>
      <div class="description-text">Anzahl der Karten</div>
      <div class="flexcontainer">
        <div class="flexcontainer" style="margin: 0 auto">
          <div class="full-width">
            <mat-slider class="slider" [min]="minCardCount" [max]="maxCardCount"
                        step="1" [value]="cardCount" thumbLabel="true"
                        (input)="onCardCountChanged($event)"></mat-slider>
          </div>
          <span class="cardCountValue">{{ cardCount }}</span>
        </div>
      </div>
      <button mat-flat-button color="primary"
              [disabled]="teamCount === -1 || (!difficultyEasy && !difficultyMedium && !difficultyHard)"
              (click)="onStartMultiPlayerGameClicked()">
        STARTEN
      </button>
    </div>
  </div>
</div>
