@use '~@angular/material' as mat;
@import '../../../../../styles';
@import '../../../../../theme';

//
// Custom
//

.main-content {
  @media #{$breakpoint-small} {
    padding-top: 56px;
  }
  @media #{$breakpoint-medium} {
    padding-top: 88px;
    margin-left: 20px;
    margin-right: 20px;
  }
  @media #{$breakpoint-large} {
    padding-top: 88px;
    margin-left: 40px;
    margin-right: 40px;
  }
}

.margin {
  @media #{$breakpoint-small} {
    margin-left: 10px;
    margin-right: 10px;
  }
}

.button {
  @media #{$breakpoint-small} {
    margin: 5px !important;
  }
  @media #{$breakpoint-medium} {
    margin: 10px !important;
  }
  @media #{$breakpoint-large} {
    margin: 20px !important;
  }

  white-space: pre-wrap !important;
}

.button-text {
  white-space: pre-wrap !important;
}

.blue-theme {
  .single-player {
    color: white !important;
    background-color: mat.get-color-from-palette($blue-primary, 400) !important;
  }

  .multi-player {
    color: white !important;
    background-color: mat.get-color-from-palette($blue-primary, 600) !important;
  }
}

.green-theme {
  .single-player {
    color: white !important;
    background-color: mat.get-color-from-palette($green-primary, 400) !important;
  }

  .multi-player {
    color: white !important;
    background-color: mat.get-color-from-palette($green-primary, 600) !important;
  }
}

.future-theme {
  .single-player {
    color: white !important;
    background-color: mat.get-color-from-palette($future-primary, 400) !important;
  }

  .multi-player {
    color: white !important;
    background-color: mat.get-color-from-palette($future-primary, 600) !important;
  }
}

.mode-button {
  font-size: 2em !important;
  padding: 20px !important;
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}

.fixed {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 999;
}
