@import '../../../../../styles';

//
// Custom
//

.main-content {
  @media #{$breakpoint-small} {
    padding-top: 88px;
    // margin-left: 10px;
    // margin-right: 10px;
  }
  @media #{$breakpoint-medium} {
    padding-top: 88px;
    margin-left: 20px;
    margin-right: 20px;
  }
  @media #{$breakpoint-large} {
    padding-top: 88px;
    margin-left: 40px;
    margin-right: 40px;
  }
}

.horizontal-center {
  margin: 15px auto;
  text-align: center;

  width: 100%;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */

  &:hover .hidden {
    display: inline-block;
  }
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.button {
  @media #{$breakpoint-small} {
    margin: 5px;
  }
  @media #{$breakpoint-medium} {
    margin: 10px;
  }
  @media #{$breakpoint-large} {
    margin: 20px;
  }

  white-space: pre-wrap !important;
}

.button-text {
  white-space: pre-wrap !important;
}

.mode-button {
  font-size: 2em;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.fixed {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 999;
}
