@use '~@angular/material' as mat;
@import '../../../../../../styles';

//
// Custom
//

.description-text {
  margin-top: 10px;
  margin-bottom: 5px;
  white-space: pre-wrap !important;
}

.side-margin {
  margin-left: 10px;
  margin-right: 10px;
}

.double-size-text {
  font-size: 2em;
}

.button {
  @media #{$breakpoint-small} {
    margin: 5px;
  }
  @media #{$breakpoint-medium} {
    margin: 10px;
  }
  @media #{$breakpoint-large} {
    margin: 20px;
  }

  white-space: pre-wrap !important;
}

.double-size-text {
  font-size: 2em;
}

//
// Theme specific
//

.blue-theme {
  .difficulty-easy {
    color: mat.get-contrast-color-from-palette($blue-primary, 400) !important;
    background-color: mat.get-color-from-palette($blue-primary, 400) !important;
  }

  .difficulty-medium {
    color: mat.get-contrast-color-from-palette($blue-primary, 500) !important;
    background-color: mat.get-color-from-palette($blue-primary, 500) !important;
  }

  .difficulty-hard {
    color: mat.get-contrast-color-from-palette($blue-primary, 600) !important;
    background-color: mat.get-color-from-palette($blue-primary, 600) !important;
  }
}

.green-theme {
  .difficulty-easy {
    color: mat.get-contrast-color-from-palette($green-primary, 400) !important;
    background-color: mat.get-color-from-palette($green-primary, 400) !important;
  }

  .difficulty-medium {
    color: mat.get-contrast-color-from-palette($green-primary, 500) !important;
    background-color: mat.get-color-from-palette($green-primary, 500) !important;
  }

  .difficulty-hard {
    color: mat.get-contrast-color-from-palette($green-primary, 600) !important;
    background-color: mat.get-color-from-palette($green-primary, 600) !important;
  }
}

.future-theme {
  .difficulty-easy {
    color: mat.get-contrast-color-from-palette($future-primary, 400) !important;
    background-color: mat.get-color-from-palette($future-primary, 400) !important;
  }

  .difficulty-medium {
    color: mat.get-contrast-color-from-palette($future-primary, 500) !important;
    background-color: mat.get-color-from-palette($future-semi-accent, 500) !important;
  }

  .difficulty-hard {
    color: mat.get-contrast-color-from-palette($future-primary, 600) !important;
    background-color: mat.get-color-from-palette($future-accent, 500) !important;
  }
}
