
.block {
  display: block;
}

.description-text {
  margin-top: 10px;
  margin-bottom: 5px;
  white-space: pre-wrap !important;
}

.double-size-text {
  font-size: 2em;
}

.full-width {
  padding: 25px;
  width: 100%;
}

.main-text {
  font-size: 4em;
  margin-top: 25px;
  line-height: 100%;
  white-space: pre-wrap !important;
}
