<h2 mat-dialog-title>{{ dialogTitle }}</h2>
<mat-dialog-content>
  <div class="horizontal-center">
    <div (click)="onTimeLimitToggled()" class="time-limit-button">
      <button *ngIf="!useTimeLimit" mat-button color="primary">
        <mat-icon svgIcon="alarm_off" class="button-icon"></mat-icon>
        ohne Zeitlimit
      </button>
      <button *ngIf="useTimeLimit" mat-flat-button color="primary">
        <mat-icon svgIcon="alarm_on" class="button-icon"></mat-icon>
        mit Zeitlimit
      </button>
    </div>
    <div class="description-text">Anzahl der Teams</div>
    <span *ngFor="let item of arrayOne(3); let i = index;">
        <button *ngIf="teamCount !== i + 3" mat-button color="primary" class="team-button"
                (click)="onTeamCountSelected(i+3)">
          {{ i + 3 }}
        </button>
        <button *ngIf="teamCount === i + 3" mat-flat-button color="primary" class="team-button"
                (click)="onTeamCountSelected(i+3)">
          {{ i + 3 }}
        </button>
      </span>

    <app-difficulty-selection-fragment (difficultySelectionChangedEmitter)="onDifficultySelected($event)">
    </app-difficulty-selection-fragment>

    <div class="description-text">Anzahl der Karten</div>
    <div class="flexcontainer">
      <div class="flexcontainer" style="margin: 0 auto">
        <div class="full-width">
          <mat-slider class="slider" [min]="minCardCount" [max]="maxCardCount"
                      step="1" [value]="cardCount" thumbLabel="true"
                      (input)="onCardCountChanged($event)"></mat-slider>
        </div>
        <span class="cardCountValue">{{ cardCount }}</span>
      </div>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions class="flexcontainer">
  <div class="flexbox"></div>
  <button mat-button [disabled]="teamCount === -1 || (!difficultyEasy && !difficultyMedium && !difficultyHard)"
          (click)="startGame()">
    STARTEN
  </button>
</mat-dialog-actions>
