@import '~@angular/material/theming';

$color-sciddle : #049af8;
$color-sciddle : hsl(203, 97, 49);

$mat-sciddle: (
  50: hsl(203, 97, 99),
  100: hsl(203, 97, 89),
  200: hsl(203, 97, 79),
  300: hsl(203, 97, 69),
  400: hsl(203, 97, 59),
  500: hsl(203, 97, 49),
  600: hsl(203, 97, 39),
  700: hsl(203, 97, 29),
  800: hsl(203, 97, 19),
  900: hsl(203, 97, 9),
  A100: $color-sciddle,
  A200: $color-sciddle,
  A400: $color-sciddle,
  A700: $color-sciddle,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: white,
    800: white,
    900: white,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);

$light-primary: mat-palette($mat-sciddle, 500, 400, 600);
$light-accent: mat-palette($mat-sciddle, 700, 600, 800);
$light-warn: mat-palette($mat-red);

$light-theme: mat-light-theme($light-primary, $light-accent, $light-warn);
