@use '~@angular/material' as mat;

$color-sciddle : #049af8;
$color-sciddle : hsl(203, 97%, 49%);

$mat-sciddle: (
  50: hsl(203, 97%, 99%),
  100: hsl(203, 97%, 89%),
  200: hsl(203, 97%, 79%),
  300: hsl(203, 97%, 69%),
  400: hsl(203, 97%, 59%),
  500: hsl(203, 97%, 49%),
  600: hsl(203, 97%, 39%),
  700: hsl(203, 97%, 29%),
  800: hsl(203, 97%, 19%),
  900: hsl(203, 97%, 9%),
  A100: $color-sciddle,
  A200: $color-sciddle,
  A400: $color-sciddle,
  A700: $color-sciddle,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: rgba(black, 0.87),
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: rgba(black, 0.87),
    A200: white,
    A400: white,
    A700: white,
  )
);

$blue-primary: mat.define-palette($mat-sciddle, 500, 400, 600);
$blue-accent: mat.define-palette($mat-sciddle, 700, 600, 800);
$blue-warn: mat.define-palette(mat.$red-palette);

$blue-theme: mat.define-light-theme($blue-primary, $blue-accent, $blue-warn);
