@import '~@angular/material/theming';

$color-sciddle: #a9c235;
$color-sciddle: hsl(71, 57%, 48%);

$mat-sciddle: (
  50: hsl(71, 57%, 98%),
  100: hsl(71, 57%, 88%),
  200: hsl(71, 57%, 78%),
  300: hsl(71, 57%, 68%),
  400: hsl(71, 57%, 58%),
  500: hsl(71, 57%, 48%),
  600: hsl(71, 57%, 38%),
  700: hsl(71, 57%, 28%),
  800: hsl(71, 57%, 18%),
  900: hsl(71, 57%, 8%),
  A100: $color-sciddle,
  A200: $color-sciddle,
  A400: $color-sciddle,
  A700: $color-sciddle,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: white,
    800: white,
    900: white,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);

$green-primary: mat-palette($mat-sciddle, 500, 400, 600);
$green-accent: mat-palette($mat-sciddle, 700, 600, 800);
$green-warn: mat-palette($mat-red);

$green-theme: mat-light-theme($green-primary, $green-accent, $green-warn);
