@use '@angular/material' as mat;

$color-sciddle: #a9c235;
$color-sciddle: hsl(71, 57%, 48%);

$mat-sciddle: (
  50: hsl(71, 57%, 98%),
  100: hsl(71, 57%, 88%),
  200: hsl(71, 57%, 78%),
  300: hsl(71, 57%, 68%),
  400: hsl(71, 57%, 58%),
  500: hsl(71, 57%, 48%),
  600: hsl(71, 57%, 38%),
  700: hsl(71, 57%, 28%),
  800: hsl(71, 57%, 18%),
  900: hsl(71, 57%, 8%),
  A100: $color-sciddle,
  A200: $color-sciddle,
  A400: $color-sciddle,
  A700: $color-sciddle,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: rgba(black, 0.87),
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: rgba(black, 0.87),
    A200: white,
    A400: white,
    A700: white,
  )
);

$green-primary: mat.define-palette($mat-sciddle, 500, 400, 600);
$green-accent: mat.define-palette($mat-sciddle, 700, 600, 800);
$green-warn: mat.define-palette(mat.$red-palette);

$green-theme: mat.define-light-theme($green-primary, $green-accent, $green-warn);
