@use '~@angular/material' as mat;
@import '../../../../../../styles';
@import '../../../../../../theme';

.blue-theme {
  a, a:visited {
    color: mat.get-color-from-palette($blue-primary, 500) !important;
    text-decoration: none !important;
  }
}

.green-theme {
  a, a:visited {
    color: mat.get-color-from-palette($green-primary, 500) !important;
    text-decoration: none !important;
  }
}

.future-theme {
  a, a:visited {
    color: mat.get-color-from-palette($future-primary, 500) !important;
    text-decoration: none !important;
  }
}

.kult-theme {
  a, a:visited {
    color: mat.get-color-from-palette($future-primary, 500) !important;
    text-decoration: none !important;
  }
}

//
// Custom
//

.full-width {
  padding: 0;
  min-width: 300px;
  width: 100%;
}
