<h2 mat-dialog-title>{{ dialogTitle }}</h2>
<mat-dialog-content>
  <div *ngIf="explanationText == null" class="full-width">
    <mat-progress-spinner class="horizontal-center" color="accent" mode="indeterminate">
    </mat-progress-spinner>
  </div>
  <app-markdown-preview *ngIf="explanationText != null" [markdownText]="explanationText"></app-markdown-preview>
</mat-dialog-content>
<mat-dialog-actions class="flexcontainer">
  <div class="flexbox"></div>
  <button mat-button color="accent" (click)="confirm()">
    {{ action }}
  </button>
</mat-dialog-actions>
