@use '@angular/material' as mat;
@import '../../../../../../styles';
@import '../../../../../../theme';

::ng-deep .blue-theme {
  a, a:visited {
    color: mat.get-color-from-palette($blue-primary, 500) !important;
    text-decoration: none !important;
  }
}

::ng-deep .green-theme {
  a, a:visited {
    color: mat.get-color-from-palette($green-primary, 500) !important;
    text-decoration: none !important;
  }
}

::ng-deep .future-theme {
  a, a:visited {
    color: mat.get-color-from-palette($future-primary, 500) !important;
    text-decoration: none !important;
  }
}

::ng-deep .kult-theme {
  a, a:visited {
    color: mat.get-color-from-palette($future-primary, 500) !important;
    text-decoration: none !important;
  }
}

//
// Custom
//

.full-width {
  padding: 0;
  min-width: 300px;
  width: 100%;
}
