@import '../../../../../../styles';

//
// Custom
//

.toolbar {
  background: $background;
}

.toolbar-menu-item {
  vertical-align: top;

  @media #{$breakpoint-small} {
    padding: 0 10px;
  }
  @media #{$breakpoint-medium} {
    padding: 0 10px;
  }
  @media #{$breakpoint-large} {
    padding: 0 20px;
  }
}

.toolbar-block {
  padding-left: 10px;
  padding-right: 10px;

  @media #{$breakpoint-small} {
    width: 100px;
  }
  @media #{$breakpoint-medium} {
    width: 100px;
  }
  @media #{$breakpoint-large} {
    width: 350px;
  }
}

.start {
  text-align: start;
}

.end {
  text-align: end;
}

//
// Theme specific
//

.blue-theme {
  .toolbar-title {
    color: mat-color($blue-primary, 500);
    font-family: 'Black Han Sans', sans-serif;
    font-size: 1.5em;
    text-transform: uppercase;
    vertical-align: text-top;
  }
}

.green-theme {
  .toolbar-title {
    color: mat-color($green-primary, 500);
    font-family: 'Black Han Sans', sans-serif;
    font-size: 1.5em;
    text-transform: uppercase;
    vertical-align: text-top;
  }
}

.future-theme {
  .toolbar {
    border-top: 5px solid #006eb3;

    @media #{$breakpoint-medium} {
      background: white !important;

      height: 80px;
      padding-top: 20px;
      padding-bottom: 20px;
    }

    @media #{$breakpoint-large} {
      background: white !important;

      height: 80px;
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }

  .toolbar-title {
    color: #213665 !important;
    font-family: 'Montserrat', sans-serif !important;
    font-size: 1.4em;
    font-weight: 800;
    vertical-align: text-top;

    .secondary {
      color: #006eb3 !important;
    }
  }

  .toolbar-logo {
    height: 35px;
    vertical-align: middle;
    margin-right: 10px;
  }

  .icon {
    fill: mat-color($future-primary, 800) !important;
  }
}

.search-form-field {
  width: 100%;
}

.searchbox {
  height: 40px;

  background: mat-color($mat-grey, 500);
  opacity: 0.4;
  border-radius: 20px;

  padding-left: 24px;
  padding-right: 24px;
  width: 100%;

  @media #{$breakpoint-small} {
    width: 100%;
  }
  @media #{$breakpoint-medium} {
    width: 450px;
  }
  @media #{$breakpoint-large} {
    width: 450px;
  }

  &:hover {
    opacity: 0.3;
  }

  .search-input {
    background-color: transparent;
    border: 0;
    border-radius: 2px;
    width: 100%;

    font-size: 90%;
    font-weight: 400;

    &:focus {
      outline-width: 0;
    }
  }

  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: mat-color($mat-grey, 300);
    opacity: 1; /* Firefox */
  }

  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: mat-color($mat-grey, 300);
  }

  :-ms-input-placeholder { /* Microsoft Edge */
    color: mat-color($mat-grey, 300);
  }
}

//
// Material
//

mat-toolbar {
  background-color: transparent !important;
  // box-shadow: 0 3px 5px -1px rgba(250, 250, 250, 1.2), 0 6px 10px 0 rgba(250, 250, 250, 1.14), 0 1px 18px 0 rgba(250, 250, 250, 1.12);
  box-shadow: 0 0 0 0 transparent !important;
  font-weight: bolder;
}

.mat-form-field-infix {
  display: block;
  position: relative;
  flex: auto;
  min-width: 0;
  width: 100% !important;
}
