<mat-toolbar class="toolbar flexcontainer">
  <div *ngIf="variant === variantType.SCIDDLE" class="toolbar-block start">
    <button mat-button class="toolbar-menu-item" (click)="onMenuItemClicked('back')">
      <mat-icon class="icon" svgIcon="arrow_back"></mat-icon>
    </button>
    <span *ngIf="media != mediaType.SMALL" class="toolbar-title">
      <span>{{ title }}</span>
    </span>
  </div>
  <div *ngIf="variant === variantType.S4F" class="toolbar-block start">
    <button mat-button class="toolbar-menu-item">
      <mat-icon class="icon" svgIcon="blank"></mat-icon>
    </button>
    <img *ngIf="media != mediaType.SMALL" class="toolbar-logo" style="height: 35px"
         src="../../../../../../assets/images/sf4_logo_b.png" alt="logo"/>
    <span *ngIf="media != mediaType.SMALL" class="toolbar-title">
       Cards<span class="secondary"> for </span> Future
    </span>
  </div>
  <div class="flexbox"></div>
  <div class="toolbar-block end">
    <button mat-button class="toolbar-menu-item right" [matMenuTriggerFor]="menu">
      <mat-icon class="icon" svgIcon="more_vert"></mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="onMenuItemClicked('manual')">
        <mat-icon class="icon" svgIcon="format_align_left"></mat-icon>
        <span>Anleitung</span>
      </button>
      <mat-divider></mat-divider>
      <button mat-menu-item (click)="onMenuItemClicked('open-source')">
        <mat-icon class="icon" svgIcon="open_source_initiative"></mat-icon>
        <span>Open Source</span>
      </button>
      <button mat-menu-item (click)="onMenuItemClicked('about')">
        <mat-icon class="icon" svgIcon="blank"></mat-icon>
        <span>Über die App</span>
      </button>
    </mat-menu>
  </div>
</mat-toolbar>
