name: Deploy German S4F version to Firebase
on: [pull_request, push]
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [12.x]
    steps:
      - name: Checkout the code
        uses: actions/checkout@v2
        with:
          submodules: recursive
      - name: Set up Node
        uses: actions/setup-node@v1
        with:
          node-version: 12
      - name: Clean
        run: |
          rm -rf ./dist/*
          rm -rf ./reports/*
          rm -rf ./coverage/*
          mkdir -p ./reports
      - name: Build Angular
        run: |
          cp ./src/index-s4f.html ./src/index.html
          cp ./src/favicon-s4f.ico ./src/favicon.ico
          cp ./src/assets/manual/manual-de-s4f.md ./src/assets/manual/manual-de.md
          cp ./src/manifest-s4f.json ./src/manifest.json
          npm install
          npm run build-de-s4f-prod
      - name: Deploy to Firebase
        uses: w9jds/firebase-action@master
        with:
          args: deploy --project sciddle-riddle --only hosting:sciddle-s4f-deu
        env:
          FIREBASE_TOKEN: ${{ secrets.FIREBASE_TOKEN }}
